services:
  # ========================
  # Auth Service + DB
  # ========================
  auth-db:
    image: postgres:18.1-alpine
    container_name: auth-db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - auth-data:/var/lib/postgresql/data
      - ../databases/auth-db/:/docker-entrypoint-initdb.d/:ro
    networks:
      - ev-network

# ========================
# Volumes
# ========================
volumes:
  auth-data:
  station-data:
  network-data:

# ========================
# Networks
# ========================
networks:
  ev-network:
    driver: bridge
