version: '3'

services:
  postgres:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - postgres-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.1
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
      KC_HOSTNAME_STRICT: "false"  # Disable strict hostname checking
      KC_HOSTNAME_STRICT_HTTPS: "false"  # Disable HTTPS requirement
    ports:
      - "5080:8080"
    depends_on:
      - postgres
    volumes:
      - ./config.json:/opt/keycloak/data/import/config.json
    command: start-dev --import-realm  # Use start-dev instead of start

volumes:
  postgres-data: