version: '3'
services:
  postgres:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - postgres-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.1
    depends_on:
      - postgres
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "5080:8080"
    volumes:
      - ./init:/opt/keycloak/init
    command: start-dev --http-relative-path=/auth

  keycloak-init:
    image: quay.io/keycloak/keycloak:26.0.1
    depends_on:
      - keycloak
    volumes:
      - ./init:/opt/keycloak/init
    entrypoint: ["/bin/sh", "-c"]
    command: ["sleep 30 && /opt/keycloak/init/init-realm.sh"]

volumes:
  postgres-data: